
.footer {

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: var(--gSmall);
    font-weight: 300;
    color: var(--sub-text-color);
    height: var(--lFooterHeight);
}