@import 'a-responsive-containers/entry/responsive.scss';


.footer {

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--montserrat);
    background: var(--black);

    font-size: T2();
    font-weight: 300;
    color: var(--sub-text-color);
    height: rx(96);
}