
.container {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.header {
    height: var(--lHeaderHeight);
    line-height: var(--lHeaderHeight);
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.logo {
    height: var(--lABrillHeight);
}

.projects {

    margin-right: var(--lProjectsMargin);
    padding-left: var(--gPadding);
    padding-right: var(--gPadding);

    font-size: var(--gH6Fx);
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        color: var(--active-color);
    }
}
