@import 'a-responsive-containers/entry/responsive.scss';


.projects {
    padding-top: rh(15);
    padding-bottom: rh(25);
}

.title {
    font-weight: 500;
    font-size: H2();
    font-family: var(--jost);
    color: var(--active-color);
    margin-bottom: rx(50);
}

.project {

    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin-bottom: rx(30);
    color: var(--text-color);

    &:not(:hover) .arrow {
        opacity: 0;
    }

    &:hover {
        color: var(--active-color);
    }
}


.logo {

    margin-right: rx(15);

    @include fixedWidth(rx(100));
    min-height: rx(35);

    svg {
        width: 100%;
    }
}

.details {

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: rx(8);

    > div:first-child {
        font-weight: 500;
        font-size: H5();
        font-family: var(--jost);
    }

    > div:last-child {
        font-family: var(--montserrat);
        opacity: 0.7;
        font-size: T1();
        font-weight: 300;
    }
}

.arrow {

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: rx(45);

    svg {
        fill: currentColor;
    }

}

:global(.mobile) {
    .arrow {
        display: none;
    }
}
