
:root {
    --black: #131313;
    --sub-black: #999999;
    --text-color: #313131;
    --sub-text-color: var(--sub-black);
    --active-color: #e91e63;
}

html, body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}

body {
    overflow-x: hidden;
}


div, span {
    box-sizing: border-box;
}