@import 'a-responsive-containers/entry/responsive.scss';


.container {
    width: ww(100);

    > div {
        margin-left: auto;
        margin-right: auto;
        width: rw(200);
        padding-left: var(--rPadding);
        padding-right: var(--rPadding);
    }
}

