
.logo {

    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 22px;

    max-width: var(--g50cw);
    max-height: var(--g25ch);

    display: block;
    margin: 0 auto;
}
