
.container {

    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.bottom {

    position: absolute;
    left: 0;
    bottom: 0;

    height: 18vh;
    width: 100vw;

    display: flex;
    justify-content: center;
}

.email {

    font-size: var(--gH3Fx);
    margin-top: var(--g9);
    margin-bottom: var(--g9);

    text-align: center;
    display: block;
    color: var(--active-color);
    text-decoration: none;

    outline: 0;
    &:visited, &:focus {
        color: var(--active-color);
    }

    &:hover {
        color: var(--active-color);
        text-decoration: underline;
    }
}